.menu {
  display: none;
  height: 100%;
  position: relative;
}

.menuItems {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
}

.menuItem {
  position: relative;
  padding: 0 24px;
  height: 100%;
  display: flex;
  align-items: center;
}

.menuItems > .menuItem + .menuItem {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.topLink,
.menuItem a {
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.label {
  text-transform: uppercase;
  color: var(--color-text);
}

.hasChildren .subMenu {
  display: none;
  position: fixed;
  top: 100%;
  left: 0;
  white-space: nowrap;
  z-index: 4;
  padding-bottom: 2rem;
  width: 100vw;
}

.hasChildren:hover .subMenu {
  display: block;
}

.subMenuItem {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
}

.topLink:hover .label,
.subMenuItem:hover .label {
  color: var(--color-secondary);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #fff;
  transition: height 0.2s ease-out;
  z-index: 2;
}

.backdrop {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

/* on large screens */
@media (min-width: 640px) {
  .menu {
    display: inline-block;
    position: relative;
    z-index: 3;
  }

  .menuItems {
    display: flex;
  }
}
