.navbar {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.menuItems {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
}

.menuItem {
  position: relative;
  padding: 0 24px;
  height: 100%;
  display: flex;
  align-items: center;
}

.menuItem:hover .label {
  text-decoration: underline;
}

.menuItems > .menuItem:nth-child(1) {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}
.menuItems > .menuItem + .menuItem {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}
.label {
  color: var(--color-text);
}

.menuItem .label,
.subMenuItem .label {
  text-transform: uppercase;
}

.subSubMenuItem .label {
  text-transform: none;
  font-weight: 300;
}

.hasChildren .subMenu {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 10;
  padding: 0 2rem 2rem;
  white-space: normal;
  margin-top: -1px;
}

.hasChildren:hover .subMenu,
.menuItem.open .subMenu {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #fff;
  transition: height 0.2s ease-out;
  z-index: 2;
  pointer-events: none;
  overflow: hidden;
}
.backdrop {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}
