@media (min-width: 640px) {
  .menu {
    display: inline-block;
    position: relative;
    z-index: 3;
  }
  .menuItems {
    display: flex;
    list-style: none;
  }
  .menuItem {
    position: relative;
    padding: 0 32px;
  }
  .topLink,
  .menuItem a {
    text-decoration: none;
    display: block;
    padding: 10px;
  }

  .label {
    color: var(--color-text);
  }
  .hasChildren .subMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    white-space: nowrap;
    z-index: 4;
  }
  .hasChildren:hover .subMenu {
    display: block;
  }
  .subMenuItem {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
  }
  .subMenuItem:hover {
    color: blue;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #fff;
    transition: height 0.3s ease-out;
    z-index: 2;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
  }
}

.menu :global(a) {
  color: #fff;
}
