.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoBox {
  position: relative;
  display: flex;
  height: 50px;
  width: 50px;
}

.logoImg {
  object-fit: contain;
}

@media (min-width: 900px) {
  .logoBox {
    height: 60px;
    width: 60px;
  }
}
