.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoBox {
  position: relative;
  display: flex;
  height: 50px;
  width: 100px;
  z-index: 9;
}

.logoImg {
  object-fit: contain;
}

@media (min-width: 640px) {
  .logoBox {
    height: 70px;
    width: 120px;
  }
}
