.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  gap: 1rem;
  /* border-bottom: 1px solid transparent;
  border-bottom: 1px solid var(--color-text); */
  padding: 0.5rem 0;
}
.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}

.icons a {
  color: var(--color-secondary);
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  gap: 1rem;
}
